<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Add new user</h1>

          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
